# api.localhost {
# 	# Reverse proxy para el backend (Django)
# 	reverse_proxy backend:8000
# 	tls /https/cert.pem /https/key.pem
# }

# localhost {
# 	# Reverse proxy para el frontend (JS)
# 	reverse_proxy frontend:3000
# 	tls /https/cert.pem /https/key.pem
# }

localhost {
	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /* {
		root * /usr/src/game_3d
		try_files {path} /index.html
		file_server browse
	}
}