{% extends "base.html" %}
{% block content %}

<div class="parent">
	<div class="child-2">
		<center><h2>Chats</h2></center><hr>
		<div class="chat-body-parent">
			<div class="chat-body" id="tasks">
				<div class="message">
				<!-- received messages and displayed here -->
					{% for i in messages %}
						{% if i.sender != user %}
							<div class="receive">
								<p style="color: #000;"> {{i.message}}<strong>-{{i.sender}}</strong></p>
							</div>
						{% else %}
							<div class="send">
								<p style="color: #000;">{{i.message}}</p>
							</div>
						{% endif %}
					{% endfor %}
				<!-- end receive messages -->


				</div>

				<div class="form">
					<form action="" id="message" method="POST">
						{% csrf_token %}
						<textarea id="msg" cols="30" name="message" rows="10" placeholder="Enter your message" required></textarea>
						<button class="submit" type="submit">Send</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
